<%= form_with(model: [@project, task], class: "space-y-6") do |f| %>
  <%= render "shared/error_messages", resource: task %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: "form-input" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, Task::STATUSES.map { |s| [s.titleize, s] }, {}, class: "form-select" %>
    </div>

    <div class="form-group">
      <%= f.label :priority %>
      <%= f.select :priority, 1..5, {}, class: "form-select" %>
    </div>

    <div class="form-group">
      <%= f.label :assignee_id %>
      <%= f.collection_select :assignee_id, @project.users, :id, :full_name, {}, class: "form-select" %>
    </div>

    <div class="form-group">
      <%= f.label :due_date %>
      <%= f.datetime_field :due_date, class: "form-input" %>
    </div>
  </div>

  <div class="flex justify-end space-x-2">
    <%= link_to "Cancel", project_path(@project), class: "btn btn-secondary" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %> 